<div class="empty-cart" *ngIf="cart.length === 0">
    <p>
        Cart is empty. Click <a routerLink="/">here</a> to browse a list of our products.
        <br> Thank you.
    </p>
</div>


<div class="container">
    <div class="cart-container" *ngIf=" cart.length !== 0">
        <div class="cart-item-body" *ngFor="let prod of cart">
            <div class="cart-img">
                <img src="{{ prod.url }}" alt="Image of {{ prod.name }}">
            </div>

            <div class="cart-item-info">
                <p>{{ prod.name }}</p>
                <p>${{ prod.price }}</p>
                <div class="quantity">
                    <label for="quantity">Quantity:</label>
                    <input type="number" name="quantity" id="quantity" value="{{ prod.quantity }}"
                        [(ngModel)]="prod.quantity" (ngModelChange)="computeTotal()">
                </div>
            </div>
            <div class="remove">
                <button class="btn btn-danger" (click)="removeFromCart(prod)"
                    (ngModelChange)="computeTotal()">x</button>
            </div>

        </div>
        <div id="amount">
            <h3 *ngIf="cart.length !== 0" class="total-amount">
                Total: ${{ amount.toFixed(2) }}
            </h3>
        </div>
    </div>

    <div class="cart-form">
        <app-checkout-form (checkoutInfo)="onSubmit($event)" [amount]="amount"></app-checkout-form>
    </div>

</div>