<div class="container">
    <a routerLink="/" *ngIf="product.name === ''">Back to product list</a>
    <div class="details-container" *ngIf="product.name !== ''">
        <div class="img">
            <img src="{{ product.url }}" alt="" />
        </div>
        <div class="detail-item">
            <div class="info">
                <h1>{{ product.name }}</h1>
                <p>${{ product.price }}</p>
                <p>{{ product.description }}</p>
            </div>
            <div class="detail-footer">
                <app-add-to-cart [product]="product"></app-add-to-cart>
                <a routerLink="/" class="back-link">Back to product list</a>
            </div>
        </div>
    </div>
</div>